/*------Стилизация вертикальной сетки для графика--------------------------------------------------------------------*/
.card-question-vertical-graph__vertical-grid {
    width: 45%;
    position: relative;
    display: flex;
    /* align-items: end; */
    justify-content: center;
    border: 1px solid red;
}
.vertical-grid__position-table {
    position: absolute;
    border-bottom: 1px solid rgba(54, 59, 77, 0.05);
    max-height: 320px;
    /*width: 568px;*/
    width: 100%;
}
.vertical-grid__position-table td {
    border-top: 1px solid rgba(54, 59, 77, 0.05);
    border-left: 1px solid rgba(54, 59, 77, 0.05);
    height: 32px;
}

/*-----Адаптивная версия---------------------------------------------------------------------------------------------*/
@media (max-width: 750px) {
    .card-question-vertical-graph__vertical-grid {
        width: 100%;
        height: 240px;
    }
    .vertical-grid__position-table td {
        height: 22px;
    }
}