.start-reg__data {
    display: flex;
    font-family: Inter;
    align-items: center;
    gap: 9px;
    color: #363B4D;
}
@media (max-width: 890px) {
    .start-reg__data {
        font-size: 10px;
    }
}
@media (max-width: 420px) {
    .start-reg__data {
        font-size: 13px;
        gap: 6px;
    }

}
