/*------Основной контейнер--------------------------------------------------------------------------------------------*/
.read-questions-card-name-rows__wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 40px;
}
.read-questions-card-name-rows__name-row {
    width: 240px;
    word-break: break-word;
}
/*------Стилизация квадратного чекбокса--------------------------------------------------------------------------------*/
.read-question-checkbox__container {
    display: block;
    position: relative;
    padding-left: 34px;
    font-size: 18px;
    user-select: none;
}
.read-question-checkbox__container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.read-question-checkbox__checkmark {
    position: absolute;
    top: -2px;
    left: 58px;
    height: 24px;
    width: 24px;
    background-color: #FBFBFB;
    border: 1px solid rgba(54, 59, 77, 0.2);
}
.read-question-checkbox__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.read-question-checkbox__container input:checked ~ .read-question-checkbox__checkmark:after {
    display: block;
}
.read-question-checkbox__container .read-question-checkbox__checkmark:after {
    left: 6px;
    top: 5px;
    width: 8px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*------Стилизация круглого чекбокса--------------------------------------------------------------------------------*/
.read-question-checkbox-radio__container {
    display: block;
    position: relative;
    padding-left: 34px;
    font-size: 18px;
    user-select: none;
}
.read-question-checkbox-radio__container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.read-question-checkbox-radio__checkmark {
    position: absolute;
    top: -2px;
    left: 58px;
    height: 24px;
    width: 24px;
    background-color: #FBFBFB;
    border-color: rgba(54, 59, 77, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
}
.read-question-checkbox-radio__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.read-question-checkbox-radio__container input:checked ~ .read-question-checkbox-radio__checkmark:after {
    display: block;
}
.read-question-checkbox-radio__container .read-question-checkbox-radio__checkmark:after {
    left: 4px;
    top: 4px;
    width: 14px;
    height: 14px;
    background-color: #FBFBFB;
    border-radius: 100%;
}
/*------Адаптивная версия(830px)---------------------------------------------------------------------------------------*/
@media (max-width: 830px) {
    .call-voting-card-checkbox__name-question {
        word-wrap: break-word;
        line-height: 22px;
    }
    .read-question-checkbox__checkmark {
        width: 20px;
        height: 20px;
        left:  50px;
    }
    .read-question-checkbox-radio__checkmark {
        width: 20px;
        height: 20px;
        left:  50px;
    }
    .read-question-checkbox__container .read-question-checkbox__checkmark:after {
        left: 4px;
        top: 3px;
    }
    .read-question-checkbox-radio__container .read-question-checkbox-radio__checkmark:after {
        left: 2px;
        top: 2px;
    }
    .read-questions-card-name-rows__name-row {
        width: 140px;
    }
    .read-questions-card-name-rows__wrapper {
        display: flex;
        flex-direction: row;
        gap: 32px;
        padding-bottom: 24px;
    }
}
@media (max-width: 560px) {
    .list-answer-checkbox {
        width: 20px;
        height: 20px;
    }
}
