.select-checkboxes-block__list-question-checkbox {
    display: inline-grid;
    grid-template-columns: 27% 10% 10% 10%;
    grid-template-rows: 24px;
    gap: 40px;


}
.list-question-checkbox {
    width: 24px;
    height: 24px;
}
