.details-votes-page-result-question-grid {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(54, 59, 77, 0.2); 
    padding-bottom: 24px; 
}
.details-votes-page-result-question-grid:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}
.details-votes-page-result-question-grid__title-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 24px 0;
    gap: 16px;
}
.details-votes-page-result-question-grid__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: rgba(54, 59, 77, 0.9);
    margin: 0 auto 0 0;
}
.details-votes-page-result-question-grid__rule {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #363B4D;
    opacity: 0.4;
}
.details-votes-page-result-question-grid__tables-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(54, 59, 77, 0.3);
    border-radius: 24px;
    margin: 0 auto 0 0;
}

/*---------Адаптивная версия-----------------------------------------------------------------------------------------*/
@media (max-width: 800px) {
    .details-votes-page-result-question-grid__title-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 16px;
    }
    .details-votes-page-result-question-grid__title {
        font-size: 16px;
        font-weight: 500;
    }
    .details-votes-page-result-question-grid__rule {
        font-size: 12px;
    }
    .details-votes-page-result-question-grid {
        margin-bottom: 16px;
    }
}