.calendar-votes-timetable__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: auto;
    max-height: 53vh;
    position: relative;
}

.calendar-votes-timetable__events-block {

}
.calendar-votes-timetable__hidden-border {
    position: absolute;
    background: white;
    width: 100%;
    height: 4px;
    top: 85px;
    z-index: 5;
}
/*------Адаптивная версия---------------------------------------------------------------------------------------------*/
@media (max-width: 840px) {
    .calendar-votes-timetable__hidden-border {
        top: 72px;
    }
}
@media (max-width: 420px) {
    .calendar-votes-timetable__hidden-border {
        top: 70px;

    }
    .calendar-votes-timetable__wrapper {
        max-height: 45vh;
    }

}