.calendar-votes-timetable__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.calendar-votes-timetable__title-row {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;
}
.calendar-votes-timetable__title-row span {
    font-size: 24px;
    font-weight: 600;
    color: rgba(54, 59, 77, 0.9);
    line-height: 32px;
}
.calendar-votes-timetable__title-row img {
    cursor: pointer;
}