/*------Основной стиль для header-------------------------------------------------------------------------------------*/
.header {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: #373C4E;
    font-family: Golos;
    font-size: 16px;
    font-weight: 400;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 40px;
}
/*------Стилизация блока с кнопкой бургер-меню и формой для поиска в мобильной версии---------------------------------*/
.header-burger-menu {
    position: absolute;
    width: 100%;
    display: none;
    flex-direction: row;
    gap: 15px;
    z-index: 1;
    padding: 16px 16px 16px 16px;
}

.header-burger-menu__button {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
    background-color: #373C4E;
    border-radius: 100%;
    z-index: 2;
}
.header-burger-menu__button:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 9px;
    background-color: #FFFFFF;
    width: 13px;
    height: 1px;
}
.header-burger-menu__button span {
    position: absolute;
    top: 15px;
    left: 9px;
    background-color: #FFFFFF;
    width: 8px;
    height: 1px;
}
.header-burger-menu__button:after {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 9px;
    background-color: #FFFFFF;
    width: 13px;
    height: 1px;
}

.header-burger-menu__input-search {
    width: 100%;
    height: 32px;
    background-color: rgba(54, 59, 77, 0.05);
    border-radius: 4px;
    outline: none;
    padding: 7px 0 7px 40px;
    color: rgba(54, 59, 77, 0.6)
}
.header-burger-menu img {
     position: absolute;
     z-index: 5;
     top: 26px;
     left: 79px;
}
/*------Стилизация блока с логотипом----------------------------------------------------------------------------------*/
.header__logotype-block {
    display: flex;
    align-items: center;
    gap: 84px;
}
.header__logotype-block a {
    text-decoration: none;
    color: #FFFFFF;;
}
/*------Стилизация общего блока с иконками поиск, настройки, личный кабинет-------------------------------------------*/
.header__general-block-search-settings-lk {
    display: flex;
    gap: 51px;
}
/*------Стилизация блока с иконкой поиск------------------------------------------------------------------------------*/
.general-block-search-settings-lk__search {
    display: flex;
    gap: 11px;
}
/*------Стилизация блока с иконкой личный кабинет---------------------------------------------------------------------*/
.general-block-search-settings-lk__iconclient {
    display: flex;
    gap: 11px;
    align-items: center;
}
/*------Адаптивная версия(992px)--------------------------------------------------------------------------------------*/
@media (max-width: 992px) {
    .header {
        font-size: 14px;
    }
    .header__logotype-block {
        font-size: 14px;
    }
}
/*------Адаптивная версия(782px)--------------------------------------------------------------------------------------*/
@media (max-width: 782px) {
    .general-block-search-settings-lk__search  span {
        display: none;
    }
    .general-block-search-settings-lk__iconclient span {
        display: none;
    }
}
/*------Адаптивная версия(660px)--------------------------------------------------------------------------------------*/
@media (max-width: 660px) {
    .general-block-search-settings-lk__search span {
        display: none;
    }
   .header__logotype-block {
       gap: 30px;
   }
}
/*------Адаптивная версия(520px)--------------------------------------------------------------------------------------*/
@media (max-width: 520px) {
    .header__logotype-block span {
        display: none;
    }
}
/*------Адаптивная версия(375px)--------------------------------------------------------------------------------------*/
@media (max-width: 376px) {
    .header__container {
        min-height: 64px;
        margin-bottom: 8px;
        background-color: #FBFBFC;
    }
    .header__general-block-search-settings-lk {
        display: none;
    }
    .header__logotype-block {
        display: none;
    }
    .header-burger-menu {
        display: flex;
        align-items: center;
    }

}


