._mobile-active-vote-bnt {
    display: none;
}
/*-----Адаптивная версия----------------------------------------------------------------------------------------------*/
@media (max-width: 670px) {
    ._mobile-active-vote-bnt {
        display: inherit;

    }
    ._active-vote-bnt {
        display: none;
    }
}