/*------Контейнер для блока------------------------------------------------------------------------------------------*/
.my-votes-block-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 32px 32px 32px 32px;
    max-width: 824px;
    box-shadow: 0 3px 16px 0 rgba(54, 58, 72, 0.08);
}
.my-votes-block-wrapper h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding-bottom: 24px;
    color: rgba(54, 59, 77, 0.9);
    font-family: Inter;
}
/*------Стили для обоих блоков---------------------------------------------------------------------------------------*/
.my-votes-block__reg-form, .my-votes-block__vote-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #363B4D;
    border-bottom: 1px #EEEEEE;
    border-style: solid;
    padding-bottom: 24px;
    max-width: 760px;
    font-family: Inter;
}
.reg-form__status-block, .vote-form__status-block {
    display: flex;
    flex-direction: row;
    font-family: Inter;
    max-height: 56px;
}
.my-votes-block__reg-form h3, .my-votes-block__votes-form h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 133%;
}
.my-votes-block__reg-form h5, .my-votes-block__votes-form h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    color: #363B4D;
    opacity: 50%;
}
.my-votes-block__votes-form {
    padding-bottom: 24px;
}
/*------Стилизация кнопки зарегистрироваться ------------------------------------------------------------------------*/
.reg-form__button-reg {
    font-family: Inter;
    max-width: 213px;
    height: 40px;
    background-color: #0084FE;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    border-radius: 4px;
}
/*------Блок с кнопкой проголосовать----------------------------------------------------------------------------------*/
.votes-form__button-vote-cancel-reg {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
}
.button-vote {
    font-family: Inter;
    width: 169px;
    height: 40px;
    background-color: #0084FE;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    border-radius: 4px;
}
.cancel-reg {
    font-family: Inter;
    width: 233px;
    height: 40px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    border-radius: 4px;
    color: #0084FE;
    border: 1px #0084FE solid;
}
/*------Ccылка со стрелкой ПОКАЗАТЬ ПОЛНОСТЬЮ----------------------------------------------------------------------------------*/
.my-votes__link-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0075FF;
    gap: 5px;
    font-family: Inter;

}
.my-votes__link-arrow span {
    font-size: 16px;
    font-weight: 300;
    line-height: 124%;
}
.my-votes__link-arrow a {
    color: #0075FF;
}
.my-votes__link-arrow img {

}
/*------Адаптивная версия(830px)--------------------------------------------------------------------------------------*/
@media (max-width: 830px) {
    .my-votes-block-wrapper {
        max-width: 440px;
        padding: 16px 16px 16px 16px;
    }
    .my-votes-block-wrapper h2 {
        font-size: 21px;
        padding-bottom: 8px;
    }
    .my-votes-block__reg-form h3, .my-votes-block__votes-form h3 {
        font-size: 14px;
    }
    .my-votes-block__reg-form h5, .my-votes-block__votes-form h5 {
        font-size: 13px;
    }

    .status-block__start-vote h5, .vote-form__status-block-start-vote h5 {
        font-size: 10px;
    }
    .reg-form__button-reg, .button-vote {
        width: 150px;
        height: 40px;
        font-size: 12px;
    }
    .cancel-reg {
        width: 200px;
        height: 40px;
        font-size: 12px;
    }
    .my-votes__link-arrow span {
        font-size: 14px;
    }
}
/*------Адаптивная версия(420px)--------------------------------------------------------------------------------------*/
@media (max-width: 420px) {
    .my-votes-block-wrapper {
        max-width: 343px;
        height: 61px;
    }
    .my-votes__link-arrow span {
        display: block;
    }
    .my-votes-block__reg-form, .my-votes-block__votes-form {
        display: none;
    }
    .my-votes__link-arrow img {
        position: absolute;
        top: 20px;
        right: 27px;
    }

}