/*-----Стилизация кнопок-переключателей--------------- ---------------------------------------------------------------*/
.votes-and-details-page-switch-buttons__wrapper {
    display: flex;
    font-family: Golos;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: rgba(54, 59, 77, 0.9);
    border-bottom: 1px #EEEEEE solid;

}
.votes-and-details-page-switch-buttons__button {
    padding-bottom: 8px;
    border-bottom: 2px #FFFFFF solid;
    margin-right: 48px;
}
.votes-and-details-page-switch-buttons__button:hover {
    border-bottom: 2px #0084FE solid;
    cursor: pointer;
}
