/*------Основной контейнер--------------------------------------------------------------------------------------------*/
.my-bulletin-card-list__wrapper {
    color: rgba(54, 59, 77, 0.9);
}
.my-bulletin-card-list__wrapper label {
    font-size: 18px;
    font-weight: 400;
}
/*------Стилизация чебокса--------------------------------------------------------------------------------------------*/
.my-bulletin-card-list__container{
    display: block;
    position: relative;
    padding-left: 34px;
    font-size: 18px;
    pointer-events: none;
}
.my-bulletin-card-list__container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.my-bulletin-card-list__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #FBFBFB;
    border: 1px solid rgba(54, 59, 77, 0.2);
    pointer-events: none;
}
.my-bulletin-card-list__container input:checked ~ .my-bulletin-card-list__checkmark {
    background-color: #0084FE;
}
.my-bulletin-card-list__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.my-bulletin-card-list__container input:checked ~ .my-bulletin-card-list__checkmark:after {
    display: block;
}
.my-bulletin-card-list__container .my-bulletin-card-list__checkmark:after {
    left: 4px;
    top: 3px;
    width: 8px;
    height: 8px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*------Адаптивная версия---------------------------------------------------------------------------------------------*/
@media (max-width: 670px) {
    .my-bulletin-card-list__wrapper label {
        font-size: 16px;
    }
}