.call-voting-page-vote-button__button {
    max-width: 169px;
    max-height: 48px;
    padding: 12px 24px 12px 24px;
    background-color: #0084FE;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Golos;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}