.observer-crypto-block-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 32px 32px 32px 32px;
    max-width: 654px;
    box-shadow: 0 3px 16px 0 rgba(54, 58, 72, 0.08);
}
.observer-crypto-block-wrapper h2 {
    font-family: Golos;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #363B4D;
}
.observer-crypto-block-wrapper h3 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 129%;
    color: #363B4D;
}
.my-votes__link-arrow__link-page-observer {
    font-family: Inter;
    font-size: 16px;
    color: #0084FE;
    font-weight: 300;
}