/*------Основной контейнер---------------------------------------------------------------------------------------------*/
.votes-page-active-votes__wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 0 24px 0;
    gap: 24px;
    border-bottom: 1px rgba(54, 59, 77, 0.1) solid;
}

.votes-page-active-votes__wrapper-title {
    font-weight: 400;
}

/*---------Cтилизация блока со статусами и датой регистрации-----------------------------------------------------------*/
.active-votes__status-and-start-reg-start-vote {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.status-and-start-reg-start-vote {
    display: flex;
    flex-direction: row;
}
