.details-votes-page-result-card-table__wrapper {
    border: 1px solid rgba(54, 59, 77, 0.2);
    border-radius: 24px;
    max-width: 738px;

}
.table td {
    border-right: 1px solid rgba(54, 59, 77, 0.2);
    padding: 28px 0 28px 28px;
    border-top: 1px solid rgba(54, 59, 77, 0.2);
    font-size: 16px;
    opacity: 0.9;
}
.table td:last-child {
    border-right: none;
}
.table th {
    text-align: left;
    border-right: 1px solid rgba(54, 59, 77, 0.2);
    padding: 24px 24px;
    font-size: 16px;
    width: 738px;
    opacity: 0.9;
}
.table th:last-child {
    border-right: none;
}
