/*------Основной конейнер----------------------------------------------------------------------------------------------*/
.call-voting-page-question-card-check__wrapper {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 3px 16px rgba(54, 58, 72, 0.08);
    padding: 32px 32px 40px 32px;
    gap: 24px;
}
/*------Стилизация для заголовка--------------------------------------------------------------------------------------*/
.call-voting-page-question-card-check__title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid rgba(54, 59, 77, 0.2);
    padding-bottom: 24px;
}
.call-voting-page-question-card-check__title h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(54, 59, 77, 0.9);
}
.call-voting-page-question-card-check__select-answer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(54, 59, 77, 0.4);
}
.call-voting-page-question-card-check__select-answer span:first-child {
    padding-right: 16px;
    border-right: 1px solid rgba(54, 59, 77, 0.3)
}
/*------Стилизация для блока с чекбоксам------------------------------------------------------------------------------*/
.call-voting-page-question-card-check__select-checkboxes-block {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    gap: 40px;
    color: rgba(54, 59, 77, 0.9);
    font-size: 18px;
}
.call-voting-page-question-card-check__header-columns {
    display: grid;
    grid-template-columns: 25% 14% 13% 16%;
    grid-template-rows: 24px;
    text-align: center;
    color: rgba(54, 59, 77, 0.9);
    font-size: 18px;
    gap: 40px;
}
.call-voting-card-checkbox__list-answer {
    display: grid;
    grid-template-columns: 31% 14% 14% 20%;
    grid-auto-rows: auto;
    gap: 40px;
}
/*---------Адаптивная версия-----------------------------------------------------------------------------------------*/
@media (max-width: 800px) {
    .call-voting-page-question-card-check__select-checkboxes-block {
        font-size: 16px;
        overflow: scroll;
    }
    .call-voting-page-question-card-check__header-columns {
        font-size: 16px;
    }
}
@media (max-width: 560px) {
    .call-voting-page-question-card-check__header-columns {
        font-size: 16px;
        grid-template-columns: 121px 13% 23% 16%;
    }

}
@media (max-width: 670px) {
    .call-voting-page-question-card-check__wrapper {
        gap: 16px;
        padding: 16px 16px 24px 16px;
    }
    .call-voting-page-question-card-check__title {
        gap: 8px;
        padding-bottom: 16px;
    }
    .call-voting-page-question-card-check__title h3 {
        font-size: 16px;
        font-weight: 500;
    }
    .call-voting-page-question-card-check__select-answer {
        font-size: 12px;
        line-height: 20px;
    }

}
