.__modificator-reg__logo-padding-bottom {
    padding-bottom: 337px;
}
.__modificator-reg__title-top {
    top: 380px;
    font-family: Golos;
}
.__modificator-main-block__auth-padding {
    padding: 106px 56px 106px 60px;
}
.__modificator-main-block__reg-padding {
    padding: 82px 32px 106px 36px;
}
.__modificator-auth__title-padding-left {
    padding-left: 36px;
}

.auth__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 48px;
}
.auth__link-row-icon {
    position: absolute;
    top: 120px;
}
.form__e-mail {
    padding-bottom: 48px;
}

.form__e-mail input {
     border-radius: 8px;
     opacity: 50%;
     width: 100%;
     height: 56px;
     padding: 5px 0 5px 10px;
     font-size: 18px;
     font-weight: 400;
     line-height: 24px;
     outline: none;
     border: 1px solid rgba(54, 59, 77, 0.9);
 }
.auth__button button {
    width: 175px;
    height: 56px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 133%;
    font-family: Golos;
    background-color: #0084FE;
    cursor: pointer;
}
.auth__button button:hover {
    background-color: #FFFFFF;
    color: #0084FE;
    border: 1px #0084FE solid;
}

