.details-votes-page-list-start-reg-start-vote__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 48px;
}
.details-votes-page-list-start-reg-start-vote__main-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: 1px gray solid;
    font-size: 14px;
    line-height: 24px;
    padding-left: 48px;
}
.details-votes-page-list-start-reg-start-vote__items {
    display: flex;
    flex-direction: row;
    gap: 8px;
}