.call-voting-page-check-columns__wrapper {
   display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    height: 100%;
}
.call-voting-page-check-columns__wrapper span {
    font-family: Inter;
    color: rgba(54, 59, 77, 0.9);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.call-voting-page-check-columns__checkbox {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;

}
