.gistogramma-size {
    rotate: 180deg;
    height: 100px;
}
.gistogramma-size__date {
    display: flex;
    width: 300px;
    justify-content: space-between;
    font-family: Inter;
    font-size: 14px;
    line-height: 142%;
    color: #333333;
    opacity: 50%;
}
.gistogramma-size rect {
    color: #0084FE;
}
/*------Адаптивная версия(830px)--------------------------------------------------------------------------------------*/
@media (max-width: 830px) {
    .gistogramma-size {
        width: 300px;
        height: 124px;
    }
}
@media (max-width: 420px) {
    .gistogramma-size {
        height: 111px;
    }
}