/*------Основной контейнер--------------------------------------------------------------------------------------------*/
.card-question-graph-thin-column__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    justify-content: end;
    width: 136px;
    align-items: center;
}
/*------Стилизация колонки графика------------------------------------------------------------------------------------*/
.card-question-graph-thin-column__columns {
    width: 60%;
    display: flex;
    flex-direction: row;
}
.card-question-graph-thin-column__column-svg {
    rotate: 180deg;
    opacity: 0.6;
    height: 280px;
    margin-right: 4px;
}
/*------Имя колонки---------------------------------------------------------------------------------------------------*/
.card-question-graph-thin-column__name-column {
    position: absolute;
    top: 101%;
    color: rgba(54, 59, 77, 0.6);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;

}
