/*-----Основной контейнер---------------------------------------------------------------------------------------------*/
.my-profile-page-add-settings__wrapper {
    display: flex;
    flex-direction: column;
    padding: 32px 32px 40px 32px;
    box-shadow: 0 6px 16px 0 rgba(54, 58, 72, 0.07);
    border-radius: 24px;
    max-height: 304px;
    background: #FFFFFF;
    /*max-width: 656px;*/
}
.my-profile-page-add-settings__wrapper h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 110%;
    color: rgba(54, 59, 77, 0.9);
    padding-bottom: 32px;
}
/*-----Стилизация для формы--------------------------------------------------------------------------------------------*/
.my-profile-page-add-settings__form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    color: rgba(54, 59, 77, 0.9);
    width: 100%;
    padding-bottom: 32px;
}
.my-profile-page-add-settings__form select {
    padding: 12px 0 12px 24px;
    max-height: 48px;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px rgba(54, 59, 77, 0.3) solid;
    font-size: 18px;
    color: rgba(54, 59, 77, 0.9);
    width: 100%;
    cursor: pointer;
    text-indent: -4px;
}
.my-profile-page-add-settings__form label {
    font-size: 18px;
    color: rgba(54, 59, 77, 0.9);
    line-height: 24px;
    font-weight: 400;
}
.my-profile-page-add-settings__form option {
    text-align: left;
}
/*------Адаптивная версия---------------------------------------------------------------------------------------------*/
@media (max-width: 1070px) {
    .my-profile-page-add-settings__wrapper {
        padding: 16px 16px 24px 16px;

    }
    .my-profile-page-add-settings__wrapper h3 {
        font-size: 21px;
        font-weight: 500;
        line-height: 138%;
        color: rgba(54, 59, 77, 0.9);
        padding-bottom: 16px;
    }
    .my-profile-page-add-settings__form select {
        padding: 0 40px 0 16px;
        height: 40px;
        word-wrap: break-word;
        font-size: 16px;
    }
    .my-profile-page-add-settings__form label {
        font-size: 16px;
        line-height: 22px;
    }
    .my-profile-page-add-settings__form {
        gap: 6px;
        padding-bottom: 24px;
    }

}