/*------Основной контейнер--------------------------------------------------------------------------------------------*/
.call-voting-page__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 112px;
}
/*------Стилизация заголовка------------------------------------------------------------------------------------------*/
.call-voting-page__title {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.call-voting-page-title__title {
    font-weight: 600;
    font-size: 24px;
    color: rgba(54, 59, 77, 0.9);
    line-height: 32px;
}
/*------Стилизаци кнопки детали голосования---------------------------------------------------------------------------*/
.call-voting-page-title__details-btn {
    max-width: 210px;
    max-height: 40px;
    padding: 8px 24px 8px 24px;
    border-radius: 4px;
    border: 1px solid #0084FE;
    background-color: #FBFBFC;
    color: #0084FE;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
/*------Синиее сообщение ДЕТЕЛИ ГОЛОСОВАНИЯ для мобильной версии------------------------------------------------------*/
.call-voting-page-title__details-icon {
    display: none;
    color: #0075FF;
    font-weight: 300;
    font-size: 12px;
}
.call-voting-page-title__details-icon img {
    padding-right: 9px;
}
/*------Адаптивная версия---------------------------------------------------------------------------------------------*/
@media (max-width: 670px) {
    .call-voting-page__wrapper {
        padding-bottom: 2px;
        gap: 16px;
    }
    .call-voting-page-title__title {
        font-size: 21px;
        font-weight: 500;
        line-height: 138%;
    }
}
@media (max-width: 420px) {
    .call-voting-page__title {
        gap: 6px;
    }
    .call-voting-page-title__details-btn  {
        display: none;
    }
    .call-voting-page-title__details-icon {
        display: block;
        color: #0075FF;
        font-weight: 300;
    }
}