.read-questions-card-name-columns__wrapper {
    width: 140px;
    word-break: break-word;
}
/*---------Адаптивная версия-----------------------------------------------------------------------------------------*/
@media (max-width: 830px) {
    .read-questions-card-name-columns__wrapper {
        width: 117px;
    }
}