.my-bulletin-card-list-checkbox__wrapper {
    width: 140px;
    text-align: center;
    position: relative;
}
.call-voting-checkbox__wrapper-view-list {
    position: relative;
}

/*---------Стилизация для смены вида на список-------------------------------------------------------------------------*/
.my-bulletin-card-list-checkbox__view-left {
    left: 58px;
}
/*---------Адаптивная версия-----------------------------------------------------------------------------------------*/
@media (max-width: 830px) {
    .my-bulletin-card-list-checkbox__wrapper  {
        width: 117px;
    }
}