.status-block__start-vote {
    display: flex;
    flex-direction: column;
    padding: 0 36px 0 36px;
    justify-content: center;
    font-size: 14px;
    gap: 18px;
    /*border-left: 1px rgba(54, 59, 77, 0.4) solid;*/
}
.status-block__start-vote h4 {
    opacity: 50%;
}
/*---------Адаптивная версия-----------------------------------------------------------------------------------------*/
@media (max-width: 890px) {
    .status-block__start-vote {
        padding: 0 10px 0 10px;
        font-size: 10px;
        gap: 12px;
    }
}
@media (max-width: 830px) {
    .status-block__start-vote {
        padding: 0 10px 0 10px;
        font-size: 10px;
    }
    .status-block__start-vote h5, .vote-form__status-block-start-vote h5 {
        font-size: 10px;
    }
}
@media (max-width: 420px) {
    .status-block__start-vote {
        padding: 0 10px 0 8px;
        border-left: 1px rgba(54, 59, 77, 0.2) solid;
    }
    .status-block__start-vote h4 {
        font-size: 14px;
        white-space: nowrap;
    }
}
