/*------Основной контейнер--------------------------------------------------------------------------------------------*/
.card-question-vertical-graph-wide-column__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-right: 32px;
    height: 100%;
    justify-content: end;
}
/*------Стилизация колонки графика------------------------------------------------------------------------------------*/

.card-question-vertical-graph-wide-column__columns {
    width: 64px;
    display: flex;
    justify-content: center;
    height: 100%;
}
.card-question-vertical-graph-wide-column__column-svg {
    rotate: 180deg;
    opacity: 0.5;
    height: 100%;
}

/*------Имя колонки---------------------------------------------------------------------------------------------------*/
.card-question-vertical-graph-wide-column__name-column {
    position: absolute;
    top: 101%;
    color: rgba(54, 59, 77, 0.6);
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
}
