.footer {
    position: relative;
}

.footer__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 88px 15px 78px 15px;
    border-top: 2px #E0E0E0 solid;
    font-family: Inter;
    gap: 200px;

}

.items__block-map-site h3, .items__block-settings h3, .items__block-support h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 133%;
}
.items__block-logo, .items__block-map-site, .items__block-settings, .items__block-support {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: 133%;
    width: 367px;
    color: #4A4F5F;
    opacity: 0.7;
}
.items__block-support {
    text-align: left;

}
.items__block-settings select {
    font-size: 16px;
    font-weight: 400;
    line-height: 133%;
    background-color: #FBFBFC;
    color: #4A4F5F;

}
/*------Адаптивная версия---------------------------------------------------------------------------------------*/
@media (max-width: 1028px) {
    .items__block-settings select{
        font-size: 12px;
    }
}
@media (max-width: 1028px) {
    .items__block-logo, .items__block-map-site, .items__block-settings, .items__block-support {
        font-size: 12px;
        gap: 20px;
    }
}
.items__block-map-site h3, .items__block-settings h3, .items__block-support h3 {
    font-size: 18px;
}

@media (max-width: 824px) {
    .items__block-logo, .items__block-map-site, .items__block-settings, .items__block-support {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    .footer__items {
        justify-content: center;
        flex-direction: row;
        gap: 20px;
    }
}
@media (max-width: 568px) {

    .footer__items {
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 40px 15px 60px 15px;
    }
    .items__block-map-site, .items__block-settings, .items__block-support {
        border-bottom: 1px solid rgba(54, 59, 77, 0.4);
        width: 350px;
        padding-bottom: 17px;
    }

    .items__block-logo span {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 620px;
        bottom: 0;
        text-align: center;
    }

    .items__block-map-site h3, .items__block-settings h3, .items__block-support h3 {
        font-size: 16px;
    }

}
