/*------Основной стиль для footer-------------------------------------------------------------------------------------*/
.footer {
    position: relative;
    width: 100%;
}
.footer a {
    text-decoration: none;
    color: #4A4F5F;
}
/*------Стилизация для контейнера блоков footer-------------------------------------------------------------------------*/
.footer__items {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 20% 12% 20% 16%;
    padding: 88px 15px 78px 15px;
    border-top: 1px #E0E0E0 solid;
}
/*------Общие стили для заголовков блоков footer------------------------------------------------------------------------*/
.items__block-map-site h3, .items__block-settings h3, .items__block-support h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 133%;
}
.items__block-logo, .items__block-map-site, .items__block-settings, .items__block-support {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    gap: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: 133%;
    color: #4A4F5F;
    opacity: 0.7;
    text-align: left;
}
/*------Cтилизация выпадающего списка в блоке Настройки----------------------------------------------------------------*/
.items__block-settings select {
    font-size: 16px;
    font-weight: 400;
    line-height: 133%;
    background-color: #FBFBFC;
    color: #4A4F5F;
}
/*------Cтилизация для блока авторских прав---------------------------------------------------------------*/
.items__block-logo_mobile-position {
    display: none;
    font-size: 15px;
    line-height: 22px;
    max-width: 252px;
    color: #4A4F5F;
    opacity: 0.7;
}
/*------Адаптивная версия(1028px)-------------------------------------------------------------------------------------*/
@media (max-width: 1028px) {
    .items__block-settings select{
        font-size: 14px;
    }
}
@media (max-width: 1028px) {
    .items__block-logo, .items__block-map-site, .items__block-settings, .items__block-support {
        font-size: 14px;
        gap: 20px;
    }
}
.items__block-map-site h3, .items__block-settings h3, .items__block-support h3 {
    font-size: 18px;
}
@media (max-width: 810px) {
    .footer__items {
        padding: 20px 20px;
    }
}
/*------Адаптивная версия(700px)---------------------------------------------------------------------------------------*/
@media (max-width: 800px) {
    .items__block-logo, .items__block-map-site, .items__block-settings, .items__block-support {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        font-size: 15px;
    }
    .items__block-settings select {
        font-size: 15px;
    }
    .items__block-map-site h3, .items__block-settings h3, .items__block-support h3 {
        font-size: 16px;
    }
    .items__block-logo img {

    }

}
@media (max-width: 780px) {
    .footer__items {
        display: flex;
        flex-direction: column;
        gap: 17px;
        padding: 21px 15px 15px 15px;
    }
    .items__block-map-site, .items__block-settings, .items__block-support {
        border-bottom: 1px solid rgba(54, 59, 77, 0.4);
        width: 100%;
        padding-bottom: 17px;
    }
    .items__block-logo span {
        display: none;
    }
    .items__block-logo_mobile-position {
        display: block;
        margin: 0 15px;
        padding-bottom: 16px;
    }
    .items__block-map-site h3, .items__block-settings h3, .items__block-support h3 {
        font-size: 16px;
        font-weight: 500;
    }
}
@media (max-width: 420px) {
    .footer__items {
       border: none;
    }
    .items__block-logo {
        border-top: 1px solid rgba(54, 59, 77, 0.4);
        padding-top: 21px;
    }
}