/*------Модификатор заголовка Установка пароля-------------------------------------------------------------------------*/
._modificator-auth__title-padding-bottom {
    padding-bottom: 48px;
}
/*------Модификатор блока с формой для паролей-------------------------------------------------------------------------*/
._modificator-main-block__auth-set-pass-padding {
    padding: 70px 56px 70px 56px;
}
/*------Модификатор заголовка в блоке с логотипом----------------------------------------------------------------------*/
._modificator-reg__title-set-pass-top {
    top: 420px;
}

/*-----Стилизация блока с input password --------------------------------------------------------------------------------*/
.form__password {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 60px;
    gap: 20px;
}
/*------Стилизация поля ввода password---------------------------------------------------------------------------------*/
.form__password input {
    border-radius: 8px;
    opacity: 50%;
    width: 100%;
    height: 56px;
    padding: 5px 0 5px 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    outline: none;
    border: 1px solid rgba(54, 59, 77, 0.6);
}
/*------Стилизация иконки скрыть/показать пароль-----------------------------------------------------------------------*/
.form__password__show-pass-icon {
    position: absolute;
    top: 60px;
    left: 610px;
    z-index: 5;
    cursor: pointer;
}
/*------Стилизация кнопки Сохранить-----------------------------------------------------------------------*/
.auth__button-save button {
    width: 175px;
    height: 56px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 133%;
    font-family: Golos;
    background-color: #0084FE;
    cursor: pointer;
}
.auth__button-save button:hover {
    background-color: #FFFFFF;
    color: #0084FE;
    border: 1px #0084FE solid;
}


/*------Адаптивная версия(1100px)--------------------------------------------------------------------------------------*/
@media (max-width: 1100px) {
    .form__password__show-pass-icon {
        top: 55px;
        left: 400px;
    }
}

/*------Адаптивная версия(800px)--------------------------------------------------------------------------------------*/
@media (max-width: 800px) {
    ._modificator-main-block__auth-set-pass-padding {
        padding: 24px 16px 24px 16px;
    }
    ._modificator-auth__title-padding-left {
        padding-left: 40px;
        padding-bottom: 24px;
    }
    .auth__button-save button {
        width: 100%;
        height: 48px;
        z-index: 5;
    }

    .form__e-mail {
        padding-bottom: 24px;
    }
    .form__e-mail input {
        width: 100%;
        height: 48px;
    }
    ._modificator-main-block__height {
        max-height: 667px;
    }
    ._modificator-main-block__reg-padding {
        padding: 10px 10px 10px 10px;
    }
    ._modificator-main-block__auth-padding {
        top: 300px;
    }
    .form__password__show-pass-icon {
        top: 55px;
        left: 330px;
    }
}
/*------Адаптивная версия(375px)--------------------------------------------------------------------------------------*/
@media (max-width: 623px) {
    .form__password__show-pass-icon  {
        top: 58px;
        left: 300px;
    }
}
