/*------Контейнер для страницы авторизации-------------------------------------------------------------------------*/
.wrapper {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}
.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
.main-block {
    display: flex;
    flex-direction: row;
    font-family: Inter;
}

/*------Блок авторизации--------------------------------------------------------------------------------------------*/
.main-block__auth {
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    padding: 74px 56px 74px 56px;
    width: 768px;
    font-size: 18px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
}
.auth__title {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 48px;
}
.auth__title h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    font-family: Golos;
}
.auth__title span {
        padding-right: 8px;
}

.auth__form {
    display: flex;
    flex-direction: column;
}
.form__select {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 48px;
}
.form__select select {
    position: relative;
    height: 40px;
    padding: 5px 0 5px 10px;
    background-color: #FFFFFF;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid rgba(54, 59, 77, 0.9);
    opacity: 50%;

}
.form__login {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 48px;
}
.form__login input {
    border-radius: 8px;
    border: 1px solid rgba(54, 59, 77, 0.9);
    opacity: 50%;
    height: 40px;
    padding: 5px 0 5px 10px;
    outline: none;
}
.form__pass {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 48px;
}
.form__pass input {
    border-radius: 8px;
    border: 1px solid rgba(54, 59, 77, 0.9);
    opacity: 50%;
    height: 40px;
    padding: 5px 0 5px 10px;
    outline: none;
}

.form__checkbox {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 48px;
}
.form__button {
    display: inline-flex;
    gap: 32px;
    align-items: center;
}
.form__button button {
    background-color: #0075FF;
    width: 134px;
    height: 56px;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    font-family: Golos;
}
.form__error {
    position: absolute;
    top: 80px;
    font-size: 14px;
    font-weight: 400;
    line-height: 143%;
    color: #FF4970;
}

/*------Блок регистрации--------------------------------------------------------------------------------------------*/
.main-block__reg {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #0075FF;
    padding: 74px 32px 74px 36px;
    width: 336px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
.reg__logo {
    display: flex;
    align-self: flex-end;
    padding-bottom: 418px;
    font-size: 32px;
}
.reg__title {
    text-align: right;
    padding-bottom: 40px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 133%;
    font-family: Golos;
}

.reg__button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}
.reg__button span {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.reg__button button {
    width: 213px;
    height: 48px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 4px;
    color: #0084FE;
    font-family: Golos;
    font-size: 16px;
}
/*------Стилизация картинок-фигур в блоке с кнопкой зарегистрироваться-------------------------------------------------------------------------------------------*/
._ibg-image1 {
    position: absolute;
    width: 114px;
    height: 220px;
    top: 140px;
    left: 220px;
    object-fit: cover;
    z-index: 55;
}

._ibg-image2 {
    position: absolute;
    width: 228px;
    height: 340px;
    top: 190px;
    left: 117px;
    object-fit: cover;
    z-index: 55;
}
._ibg-image3 {
    position: absolute;
    width: 116px;
    height: 220px;
    top: 308px;
    left: 117px;
    object-fit: cover;
    z-index: 55;
}
._ibg-image4 {
    position: absolute;
    width: 117px;
    height: 228px;
    top: 415px;
    left: 0;
    object-fit: cover;
    z-index: 55;
}
._ibg-image5 {
    position: absolute;
    width: 228px;
    height: 228px;
    top: 600px;
    right: 140px;
    object-fit: cover;
    z-index: 55;
}
._ibg-image6 {
    position: absolute;
    width: 117px;
    height: 228px;
    top: 690px;
    left: 200px;
    object-fit: cover;
    z-index: 55;
}
/*------Чек бокс--------------------------------------------------------------------------------------------------*/
.checkbox_container {
    display: block;
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-color: #CACCCF;
    border-style: solid;
    border-width: 1px;
}

.checkbox_container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox_container input:checked ~ .checkmark {
    background-color: #0084FE;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox_container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox_container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 10px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*------Адаптивная версия(1108px)--------------------------------------------------------------------------------------*/
@media (max-width: 1108px) {
    .container {
        max-width: 800px;
    }
    .main-block__auth {
        padding: 20px 80px 20px 20px;
    }
   .main-block__reg {
       padding: 15px 15px 15px 15px;
   }
   .auth__title {
       padding-bottom: 20px;
   }
    .auth__title h3 {
        font-size: 22px;
    }
    .main-block__auth {
        font-size: 14px;
    }
    .form__select select {
        font-size: 14px;
    }
    .form__select, .form__login, .form__pass input {
        max-width: 450px;
    }
    .form__button button {
        height: 40px;
    }
    .checkbox_container {
        font-size: 14px;
        display: flex;
        align-items: center;
    }
    .main-block__reg {
        padding: 20px 20px 20px 20px;
    }
    .reg__title {
        font-size: 16px;
    }
    .reg__logo {
        padding-bottom: 380px;
    }
    .reg__logo img {
        width: 180px;
    }
    .reg__button span {
        font-size: 14px;
    }
    .checkbox_container {
        padding-top: 3px;
    }
}
/*------Адаптивная версия(800px)--------------------------------------------------------------------------------------*/
@media (max-width: 800px) {
    .container {
        max-width: 590px;
    }
    .main-block__auth {
        padding: 15px 70px 15px 15px;
    }
    .main-block__reg {
        padding: 15px 15px 15px 15px;
    }
    .auth__title {
        padding-bottom: 10px;
    }
    .auth__title h3 {
        font-size: 20px;
    }
    .main-block__auth {
        font-size: 12px;
    }
    .form__select select {
        font-size: 12px;
    }
    .form__select, .form__login, .form__pass input {
        max-width: 350px;
    }
    .form__button button {
        height: 40px;
    }
    .form__button span {
        text-align: left;
    }

    .main-block__reg {
        padding: 20px 20px 20px 20px;
    }
    .reg__title {
        font-size: 14px;
    }
    .reg__logo img {
        width: 160px;
    }
    .reg__button span {
        font-size: 12px;
    }
    .form__select, .form__login, .form__pass {
        padding-bottom: 32px;
    }
    .reg__logo {
        padding-bottom: 340px;
    }
}
/*------Адаптивная версия(590px)--------------------------------------------------------------------------------------*/
@media (max-width: 600px) {

    .container {
        position: relative;
        width: 371px;
        height: 100%;
        padding: 0 4px;
    }
    .main-block__auth {
        position: absolute;
        top: 200px;
        left: 0;
        padding: 20px 20px 20px 20px;
        font-size: 12px;
        max-width: 375px;
        border-radius: 8px;
    }
    .main-block__reg {
        position: absolute;
        top: 0;
        left: 0;
        right: 100px;
        border-radius: 0;
        width: 375px;
        z-index: -2;
    }

    .auth__title {
        padding-bottom: 10px;
        max-width: 310px;
    }
    .auth__title h3 {
        font-size: 20px;
    }
    .form__select {
        display: none;
    }
    .form__login input, .form__pass input {
        max-width: 311px;
    }
    .form__button {
        padding-bottom: 30px;
    }
    .form__button button {
        height: 40px;
        font-size: 14px;
    }
    .form__button span {
        text-align: left;
    }
    .form__checkbox {
        padding-bottom: 20px;
    }

    .reg__title {
        display: none;
    }

    .reg__logo img {
        position: absolute;
        top: 49px;
        right: 180px;
        width: 170px;
    }
    .reg__button {
        display: none;
    }
    .reg__button span {
       display: none;
    }
    .form__login, .form__pass {
        padding-bottom: 20px;
        max-width: 100%;
    }
    .checkbox_container {
        padding-top: 1px;
    }
    .checkmark {
        height: 18px;
        width: 18px;
    }
}
