.votes-page-block__wrapper {
    padding-bottom: 112px;
}
/*------Cтилизация заголовка------------------------------------------------------------------------------------------*/
.votes-page-block__wrapper-title {
    font-size: 32px;
    font-family: Golos;
    line-height: 40px;
    font-weight: 600;
    color: rgba(54, 59, 77, 0.9);
    padding-bottom: 32px;
}
/*------Cтилизация блока со стрелкой о переходе на страницу Голосования-----------------------------------------------*/
.votes-page-block__page-info {
    display: flex;
    flex-direction: row;
    color: rgba(54, 59, 77, 0.9);
    opacity: 40%;
    font-family: Golos;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 184px;
    justify-content: space-between;
    padding-bottom: 27px;
}
/*------Cтилизация для общего блока с кнопками фильтры, сортировка и пагинация----------------------------------------*/
.votes-page-block__navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

/*------Cтилизация блока c кнопками фильтры и сортировка--------------------------------------------------------------*/
.navigation-menu__block-buttons {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 14px;
    padding-bottom: 24px;
}
.block-buttons__filters-button {
    width: 154px;
    height: 40px;
    background-color: #FBFBFC;
    color: #0084FE;
    padding: 8px 24px 8px;
    font-size: 16px;
    border: 1px #0084FE solid;
    border-radius: 4px;
    cursor: pointer;
}
.block-buttons__filters-button img {
    padding-right: 14px;

}
.block-buttons__sort-button {
    width: 177px;
    height: 40px;
    background-color: #FBFBFC;
    color: #0084FE;
    font-size: 16px;
    padding: 8px;
    border: 1px #0084FE solid;
    border-radius: 4px;
    cursor: pointer;
}
.block-buttons__sort-button img {
    padding-right: 13px;
    vertical-align: middle;
}
/*------Cтилизация блока основного контента---------------------------------------------------------------------------*/
.votes-page-block__main-content {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 32px 32px;
    box-shadow: 0 3px 16px 0 rgba(54, 58, 72, 0.08);

}
/*-----Стилизация заголовка основного контента -----------------------------------------------------------------------*/
.votes-page-block__main-content-title {
    display: flex;
    gap: 48px;
    font-family: Golos;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(54, 59, 77, 0.9);
    border-bottom: 1px #EEEEEE solid;
}
.main-content-title__active-votes, .main-content-title__archive-votes {
    padding-bottom: 8px;
    border-bottom: 2px #FFFFFF solid;
}
.main-content-title__active-votes:hover {
    border-bottom: 2px #0084FE solid;
    cursor: pointer;
}

.main-content-title__archive-votes:hover {
    border-bottom: 2px #0084FE solid;
    cursor: pointer;
}
/*-----Стилизация кнопки ПОКАЗАТЬ ЕЩЁ---------------------------------------------------------------------------------*/
.votes-page-block__main-content-show-more-button {
    color: #0084FE;
    line-height: 124%;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    padding-top: 24px;
    cursor: pointer;
}

