/*------Основной контейнер--------------------------------------------------------------------------------------------*/
.votes-page-block__wrapper {
    padding-bottom: 68px;
    position: relative;
}
.votes-page-block__qr-cod {
    display: none;
}
/*------Cтилизация для общего блока с кнопками фильтры, сортировка и пагинация----------------------------------------*/
.votes-page-block__navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 0;
}

/*------Cтилизация блока c кнопками фильтры и сортировка--------------------------------------------------------------*/
.navigation-menu__select-buttons {
    display: flex;
    position: relative;
    flex-direction: row;
    align-content: center;
    gap: 14px;
    padding-bottom: 24px;
}
.select-buttons__filters-button {
    width: 154px;
    height: 40px;
    background-color: #FBFBFC;
    color: #0084FE;
    padding: 8px 24px 8px;
    font-size: 16px;
    border: 1px #0084FE solid;
    border-radius: 4px;
    cursor: pointer;
}
.select-buttons__filters-button img {
    padding-right: 14px;
}
.select-buttons__sort-button {
    width: 177px;
    height: 40px;
    background-color: #FBFBFC;
    color: #0084FE;
    font-size: 16px;
    padding: 8px;
    border: 1px #0084FE solid;
    border-radius: 4px;
    cursor: pointer;
}
.select-buttons__sort-button img {
    padding-right: 13px;
    vertical-align: middle;
}
/*------Cтилизация блока c кнопками фильтры и сортировка(для мобильной версии)----------------------------------------*/

.select-buttons__mobile-filters-sort-button  {
    display: none;
}
.select-buttons__filters-red-circle, .select-buttons__sort-red-circle {
    display: none;
}
/*------Cтилизация блока основного контента---------------------------------------------------------------------------*/
.votes-page-block__main-content {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 32px 32px;
    box-shadow: 0 3px 16px 0 rgba(54, 58, 72, 0.08);
}
/*-----Стилизация кнопки ПОКАЗАТЬ ЕЩЁ---------------------------------------------------------------------------------*/
.votes-page-block__main-content-show-more-button {
    color: #0084FE;
    line-height: 124%;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    padding-top: 24px;
    cursor: pointer;
}

/*-----Адаптивная версия----------------------------------------------------------------------------------------------*/
@media (max-width: 815px) {
    .votes-page-block__main-content {
        padding: 16px 16px;
    }
}
@media (max-width: 660px) {
    .select-buttons__filters-button, .select-buttons__sort-button {
        display: none;
    }
    .select-buttons__mobile-filters-sort-button {
        display: flex;
        background: none;
        font-family: Inter;
        font-size: 15px;
        line-height: 121%;
        font-weight: 400;
        color: rgba(54, 59, 77, 0.4);
    }
    .select-buttons__mobile-filters-sort-button img {
        padding-right: 5px;
        cursor: pointer;
    }
    .select-buttons__filters-red-circle {
        position: absolute;
        display: inherit;
        top: 2px;
        left: 12px;
    }
    .select-buttons__sort-red-circle {
        position: absolute;
        display: inherit;
        top: 2px;
        left: 115px;
    }
}
@media (max-width: 420px) {
    .navigation-menu__select-buttons {
        padding-bottom: 14px;
    }
    .votes-page-block__main-content-show-more-button {
        display: none;
    }
}
@media (max-width: 380px) {
    .votes-page-block__qr-cod {
        display: block;
        position: absolute;
        top: 29px;
        right: 0;
        cursor: pointer;
    }
}

