/*---------Основной контейнер-----------------------------------------------------------------------------------------*/
.status-block__materials-vote {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    padding: 8px 24px 3px 24px;
    gap: 12px;
    font-family: Inter;

}
.materials-vote__status-icon {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: rgba(54, 59, 77, 0.9);
}

.status-icon__color-status {
    color: #FF4970;

}

/*---------Адаптивная версия-----------------------------------------------------------------------------------------*/
@media (max-width: 1012px) {
    .status-block__materials-vote {
        white-space: nowrap;

    }
}
@media (max-width: 890px) {
    .status-block__materials-vote {
        white-space: nowrap;
        padding: 12px 10px 15px 10px;
    }
    .materials-vote__status-icon {
        font-size: 10px;
    }

}
@media (max-width: 600px) {
     .status-block__materials-vote {
         padding: 12px 0 0 0;
         font-size: 14px;
     }
    .materials-vote__status-icon {
        font-size: 14px;
    }
    .materials-vote__hidden-materials {
        display: none;
    }
}


