/*------Общие стили для главного контента домашней страницы----------------------------------------------------------*/
.main {
    flex: 1 1 auto;
    overflow: hidden;
}

.main-content  {
    position: relative;
    min-height: 70vh;
}








