.main {
    flex: 1 1 auto;
}

.main-content  {
    position: relative;
    min-height: 70vh;
}
.main-content__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    font-family: Golos;
    padding-bottom: 40px;
}
.main-content__my-votes-actual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 16px;
    gap: 16px;
}
.main-content__amount-votes-and-calendar-votes {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-bottom: 51px;
}
.gistogramma-and-total-amount {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*------Адаптивная версия-----------------------------------------------------------------------*/
@media (max-width: 778px) {
    .main-content__title {
        text-align: center;
        font-size: 26px;
    }
}

@font-face {
    font-family: "Golos";
    src: url("../src/fonts/Golos-Text_Regular.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}