/*------Стилизация для div списка с вариантами ответов----------------------------------------------------------------*/
.question-block__list-questions {
    display: table;
    list-style-image: url("../../../img/DetailsVotesPageReadQuestions_icon_for_list.svg");
    padding-bottom: 16px;
}
.question-block__list-questions li {
    list-style-position: inside;
    font-size: 18px;
    line-height: 24px;
    color: rgba(54, 59, 77, 0.9);
}
.question-block__list-questions span {
    padding-left: 12px;
}
/*------Адаптивная версия(800px)---------------------------------------------------------------------------------------*/
@media (max-width: 800px) {
    .question-block__list-questions {
        padding-bottom: 8px;
    }
    .question-block__list-questions li {
        font-size: 16px;
    }
}
