/*-----Стилизация кнопки зарегистрироваться---------------------------------------------------------------------------*/
.details-votes-page-general-info__reg-button {
    max-width: 213px;
    max-height: 48px;
    background-color: #0084FE;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Golos;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
}
/*---------Адаптивная версия------------------------------------------------------------------------------------------*/
@media (max-width: 600px) {
    .details-votes-page-general-info__reg-button {
        max-width: 100%;
    }
}