/*---------Основной контейнер-----------------------------------------------------------------------------------------*/
.status-block__current-status {
    display: flex;
    flex-direction: column;
    padding: 0 36px 0 0;
    gap: 10px;
    font-size: 12px;
    font-family: Inter;
    border-right: 1px rgba(54, 59, 77, 0.2) solid;
    justify-content: center;

}
.current-status__registration-in-progress {
    display: flex;
    border: 1px #4ED4A9 solid;
    border-radius: 8px;
    padding: 5px 12px 5px 24px;
    color: #4ED4A9;
}
.current-status__secret {
    border: 1px rgba(54, 59, 77, 0.4) solid;
    border-radius: 8px;
    padding: 5px 20px 10px 20px;
    max-height: 24px;
    max-width: 90px;
    opacity: 50%;
}

/*---------Адаптивная версия-----------------------------------------------------------------------------------------*/
@media (max-width: 830px) {
    .my-votes-block-wrapper {
        width: 440px;
        padding: 16px 16px 16px 16px;
    }
    .my-votes-block-wrapper h2 {
        font-size: 21px;
        padding-bottom: 8px;
    }
    .my-votes-block__reg-form h3, .my-votes-block__votes-form h3 {
        font-size: 14px;
    }
    .my-votes-block__reg-form h5, .my-votes-block__votes-form h5 {
        font-size: 13px;
    }
    .status-block__current-status, .vote-form__status-block-current-status {
        gap: 4px;
        padding-right: 5px;
    }
    .current-status__registration-in-progress,.current-status__secret, .vote-form__status-block__current-status__registration-in-progress, .vote-form__status-block-current-status__open  {
        padding: 5px 10px 5px 20px;
        font-size: 10px;
    }
    .status-block__start-vote, .vote-form__status-block-start-vote, .status-block__materials-vote, .vote-form__status-block__checkmark-reg {
        padding: 0 10px 0 10px;
        font-size: 10px;
    }
    .status-block__start-vote h5, .vote-form__status-block-start-vote h5 {
        font-size: 10px;
    }
    .reg-form__button-reg, .button-vote {
        width: 150px;
        height: 40px;
        font-size: 12px;
    }
    .cancel-reg {
        width: 200px;
        height: 40px;
        font-size: 12px;
    }
    .my-votes__link-arrow span {
        font-size: 14px;
    }
}
/*------Адаптивная версия(378px)--------------------------------------------------------------------------------------*/
@media (max-width: 420px) {
    .my-votes-block-wrapper {
        width: 343px;
        height: 61px;
    }
    .my-votes-block__reg-form, .my-votes-block__votes-form {
        display: none;
    }
    .my-votes__link-arrow span {

    }
    .my-votes__link-arrow img {
        position: absolute;
        top: 20px;
        right: 27px;
    }
    .status-block__current-status {
        flex-direction: row;
    }
}