/*------Контейнер для блока календарь---------------------------------------------------------------------------------*/
.calendar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 32px 32px 39px 32px;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 16px 0 rgba(54, 58, 72, 0.08);
}

.calendar-container h1 {
    font-family: Golos;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #363B4D;
}
/*------Стили для блока "Начало и конец регистрацич"-------------------------------------------------------------------*/
.calendar-container__run-end-vote {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 0 20px 0 20px;
}
.run-end-vote {
    display: flex;
    flex-direction: column;
}
.run-end-vote li {
    padding: 0 0 16px 0;
}
.__li-color-blue {
    color: #49B3FF;
}
.__li-color-orange {
    color: #FF8A00;
}
.__li-color-green {
    color: #4ED4A9;
}
.__li-color-red {
    color: #FF4970;
}

.run-end-vote span {
    color: #363B4D;
    font-family: Inter;
    font-size: 16px;
    line-height: 124%;
    font-weight: 400;
}

/*------Cтилизация календаря-----------------------------------------------------------------------------------------*/
.react-calendar {
    font-family: Inter;
    border: white;
    width: 100%;
}
.react-calendar .react-calendar__month-view__days button {
    border-right: 1px rgba(54, 59, 77, 0.4) solid;
    border-top: 1px rgba(54, 59, 77, 0.4) solid;
}
.react-calendar button:nth-child(7n) {
    border-right: none;
}

.react-calendar button:enabled:hover {
    cursor: inherit;
}

.react-calendar__navigation__label {
    font-size: 18px;
    pointer-events: none;
    max-width: 265px;
    color: rgba(54, 59, 77, 0.9);
}

.react-calendar__navigation button:enabled:hover {
    background: none;
    pointer-events: none;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0 24px 24px 24px;
    border-right: 1px solid rgba(54, 59, 77, 0.2);
}
.react-calendar__month-view__weekdays__weekday:last-child {
    border: none;
}

.react-calendar__navigation {
    justify-content: center;
    cursor: pointer;
}
.react-calendar__month-view__days__day {
    padding: 24px 24px;
    font-size: 18px;
    opacity: 0.7;
    /*z-index: 3;*/
    pointer-events: none;
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
    font-size: 18px;
    color: rgba(54, 59, 77, 0.4);
    font-weight: 400;
}

.react-calendar__navigation__label::first-letter {
    text-transform: capitalize;
}
.react-calendar__tile--now {
    background: #0084FE;
}
