.calendar-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 32px 32px 39px 32px;
    width: 100%;
    max-height: 648px;
    box-shadow: 0 3px 16px 0 rgba(54, 58, 72, 0.08);
}