/*------Контейнер для блока календарь---------------------------------------------------------------------------------*/
.calendar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 32px 32px 39px 32px;
    width: 100%;
    box-shadow: 0 3px 16px 0 rgba(54, 58, 72, 0.08);
    height: 100%;
}
.calendar-container h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: rgba(54, 59, 77, 0.9);
    padding-bottom: 32px;
}
/*------Стили для блока "Начало и конец регистрацич"-------------------------------------------------------------------*/
.calendar-container__run-end-vote {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 0 0 32px 0;
    font-size: 16px;
    line-height: 24px;
}
.run-end-vote {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*------Кружки событий для календаря--------------------------------------------------------------------------------*/
.blue__circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    right: 203px;
    top: 225px;
    background-color: #49B3FF;
}

.orange__circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    right: 210px;
    top: 355px;
    background-color: #FF8A00;
}
.green__circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    right: 217px;
    top: 225px;
    background-color: #4ED4A9;
}
.red__circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    right: 40px;
    top: 225px;
    background-color: #FF4970;
}

/*------Cтилизация календаря-----------------------------------------------------------------------------------------*/
.calendar-block {
    position: relative;
}
.react-calendar {
    border: white;
    width: 100%;
}
.react-calendar__month-view__days button {
    border-right: 1px rgba(54, 59, 77, 0.4) solid;
    border-top: 1px rgba(54, 59, 77, 0.4) solid;
    position: relative;
    pointer-events: none;
}
.react-calendar button:nth-child(7n) {
    border-right: none;
}

.react-calendar button:enabled:hover {
    cursor: inherit;
}

.react-calendar__navigation__label {
    font-size: 18px;
    pointer-events: none;
    max-width: 265px;
    color: rgba(54, 59, 77, 0.9);
}

.react-calendar__navigation button:enabled:hover {
    background: none;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0 24px 24px 24px;
    border-right: 1px solid rgba(54, 59, 77, 0.2);
}
.react-calendar__month-view__weekdays__weekday:last-child {
    border: none;
}
.react-calendar__navigation {
    justify-content: center;
    cursor: pointer;
}
.react-calendar__month-view__days__day {
    padding: 24px 24px;
    font-size: 18px;
    opacity: 0.7;
    /*z-index: 3;*/
    /*pointer-events: none;*/
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
    font-size: 18px;
    color: rgba(54, 59, 77, 0.4);
    font-weight: 400;

}

.react-calendar__navigation__label::first-letter {
    text-transform: capitalize;
}
.react-calendar__tile--now {
    background: #CACCCF;
}

/*------Адаптивная версия(830px)--------------------------------------------------------------------------------------*/
@media (max-width: 830px) {
    .calendar-container {
        padding: 16px 16px 16px 16px;
        min-width: 370px;
        /*height: 380px;*/
        gap: 8px;
    }
    .calendar-container h1 {
        width: 370px;
        font-size: 21px;
        line-height: 29px;
        font-weight: 500;
        padding-bottom: 16px;
    }

    .calendar-container__run-end-vote span {
        font-size: 12px;
    }
    .react-calendar {
        min-width: 300px;
    }
    .react-calendar__viewContainer {
        width: 100%;
    }
    .react-calendar__month-view__weekdays__weekday {
        padding: 0 2px 2px 2px;

    }
    .react-calendar__month-view__days__day {
        padding: 5px 5px;
        font-size: 16px;
    }
    .react-calendar__month-view__weekdays__weekday abbr {
        text-decoration: none;
        font-size: 16px;
    }
    .react-calendar__navigation {
        height: 30px;
    }
    .react-calendar .react-calendar__month-view__days button {
      border: none;
    }
    .react-calendar__month-view__weekdays__weekday {
       border: none;
    }
    .red__circle, .blue__circle, .green__circle, .orange__circle {
        display: none;
    }
    .run-end-vote {
        gap: 8px;
    }
}
@media (max-width: 420px) {
    .calendar-container {
        min-width: 343px;
    }
    .calendar-container__run-end-vote {
     padding: 0 0 16px 0;
    }

}