.checkmark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-color: #0084FE;
    border-style: solid;
    border-width: 1px;
}
.checkbox_container {
    display: block;
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    max-width: 10px;
}
.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark-row {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-color: #0084FE;
    border-style: solid;
    border-width: 1px;
}

.checkbox_container:hover input ~ .checkmark-row {
    background-color: #ccc;
}

.checkbox_container input:checked ~ .checkmark-row {
    background-color: #0084FE;
}

.checkmark-row:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox_container input:checked ~ .checkmark-row:after {
    display: block;
}
.checkbox_container .checkmark-row:after {
    left: 5px;
    top: 3px;
    width: 8px;
    height: 8px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.call-voting-list__name-answer {
    font-size: 18px;
    color: rgba(54, 59, 77, 0.9);
    padding-left: 36px;
    font-weight: 400;
    line-height: 20px;
}
/*---------Адаптивная версия-----------------------------------------------------------------------------------------*/
@media (max-width: 768px) {
    .call-voting-list__name-answer {
        font-size: 16px;
    }
}