/*------Основной стиль модального окна--------------------------------------------------------------------------------*/
.registration-modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 10;
}
/*-----Активация модального окна при клике------------------------------------------------------------------------------*/
.registration-modal.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}
/*------Стилизация самого модального окна-----------------------------------------------------------------------------*/
.registration-modal__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 48px 40px 48px 40px;
    width: 548px;
    height: 222px;
    border-radius: 8px;
    background-color: #FFFFFF;
    position: relative;

}
/*------Стилизация заголовка модального окна--------------------------------------------------------------------------*/
.content__title {
    display: none;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: rgba(54, 59, 77, 0.9);

}
.content__title h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 34px;
}
.title__language {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.title__language a {
    color: #0084FE;
}

/*------Стилизация сообщения модально окна--------------------------------------------------------------------------*/
.registration-modal__content h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: rgba(54, 59, 77, 0.9);
}
.title__checkmark {
    display: none;
    position: absolute;
    top: 82px;
    left: 20px;
    width: 18px;
    height: 14px;
}
/*------Стилизация кнопки модального окна-----------------------------------------------------------------------------*/
.registration-modal__content button {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    width: 151px;
    height: 56px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #0084FE;
    cursor: pointer;
}
/*------ Адаптивная версия--------------------------------------------------------------------------------------------*/
@media (max-width: 800px) {
    .registration-modal {
        display: flex;
        height: 667px;
        top: 238px;
        pointer-events: none;
        background-color: inherit;
    }

    .registration-modal__content {
        gap: 14px;
        height: 202px;
        width: 380px;
        padding: 24px 16px 26px 16px;
        align-items: center;
    }
    .content__title {
        display: flex;
    }
    .registration-modal__content h4 {
        font-size: 16px;
        line-height: 34px;
        font-weight: 600;
    }
    .registration-modal__content button {
        width: 343px;
        height: 48px;
        font-size: 16px;
    }
    .title__checkmark {
        display: inherit;
    }

}