/*------Основной контейнер компнонета---------------------------------------------------------------------------------*/
.details-votes-page-datetime-end-reg-start-vote__wrapper {
    max-height: 96px;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 3px 16px rgba(54, 58, 72, 0.08);
    padding: 16px 24px 24px 24px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*------Cтилизация общего контейнера для div end-reg и start-vote-----------------------------------------------------*/
.details-votes-page-datetime-end-reg-start-vote__datetime-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 8px;
    border-right: 1px solid rgba(54, 59, 77, 0.2);
}
.details-votes-page-datetime-end-reg-start-vote__datetime-info:first-child {
    padding-right: 48px;
}
.details-votes-page-datetime-end-reg-start-vote__datetime-info:last-child {
    padding-left: 48px;
    border: none;
}

/*------Cтилизация div c информацией конца регистарции и начала голосования-------------------------------------------*/
.datetime-info__end-registration-start-vote {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-family: Golos;
    color: rgba(54, 59, 77, 0.9);
}
.datetime-info__end-registration-start-vote h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;

}
.datetime-info__end-registration-start-vote span {
    opacity: 40%;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
/*------Cтилизация div с -------------------------------------------*/

.datetime-info__range {
    width: 100%;
}



